<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href=" mailto:{{ site.email | encode_email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Linkedin" href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
				<li><a title="Youtube" href="{{ site.youtube }}" target="_blank">Youtube</a></li>
			</ul>
		</section>
		<section class="more">
			<h2>More...</h2>
			<ul>
				<li><a title="Blog" href="{{ site.blog }}" target="_blank">Blog</a></li>
				<li><a title="Resume" href="{{ site.resume }}" target="_blank">Resume</a></li>
			</ul>
		</section>
	</div>
</footer>